<h1>Upload CNAB file</h1>

<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" value="">
  <p>Clique aqui para subir seu arquivo CNAB</p>
  <button type="submit">Upload</button>
</form>